html,
body {
  overflow-x: hidden;
}
.sans {
  font-family: sans-serif;
}
.serif {
  font-family: serif;
}
.page-content-wrapper {
  width: 100%;
}
.page-content-wrapper .page-content {
  padding: 20px;
  padding-top: 0;
}
.page-content-header {
  background: none;
  border: none;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
}
.page-content-header .container-fluid {
  padding-left: 0;
}
.page-content-header .btn-sidebar-toggle {
  width: 50px;
  height: 50px;
  border: none;
  border-right: 1px solid #dddddd;
  border-radius: 0;
}
.page-content-header .btn-sidebar-toggle:active,
.page-content-header .btn-sidebar-toggle:focus {
  outline: none;
  background: none;
}
.page-content-header .form-search {
  position: relative;
}
.page-content-header .form-search .form-control {
  width: 300px;
  padding-left: 35px;
  font-weight: 300;
  border: none;
  box-shadow: none;
}
.page-content-header .form-search:before {
  display: block;
  width: 14px;
  height: 14px;
  content: "\e003";
  font-family: 'Glyphicons Halflings';
  background-position: -48px 0;
  position: absolute;
  top: 7px;
  left: 25px;
  opacity: .5;
  z-index: 1000;
}
.page-content-header .navbar-right li a {
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.page-content-header .navbar-right li a .caret {
  position: relative;
  top: -2px;
  margin-left: 5px;
}
.page-content-header .navbar-right ul li a {
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
}
.page-content h1 {
  margin-top: 0;
  color: #332a25;
  font-size: 28px;
  font-weight: 100;
  text-transform: uppercase;
}
.page-content h2 {
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}
.page-content .row {
  margin-bottom: 20px;
}
.public-layout .footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  background: #000000;
  border: none;
  border-radius: 0;
}
.public-layout .footer .navbar-nav li > a {
  font-size: 11px;
  font-weight: 600;
}
.public-layout .footer .navbar-nav li > a:hover {
  color: #bbbbbb;
}
.public-layout .footer .navbar-nav .social {
  top: 5px;
  margin-right: 0;
}
.public-layout .footer .navbar-nav .social > a {
  padding: 10px;
  font-size: 20px;
  text-shadow: none;
}
.public-layout .footer .navbar-text {
  position: relative;
  top: 18px;
  width: 100%;
  margin: 0;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
}
.public-layout .footer .navbar-text a {
  color: #bbbbbb;
}
.public-layout .footer .navbar-text a:hover {
  color: #ffffff;
  text-decoration: none;
}
.public-layout .footer .navbar-brand {
  font-weight: 600;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}
.public-layout .footer .navbar-brand:hover {
  color: #bbbbbb;
}
.public-layout .hero {
  padding-top: 10px;
  padding-bottom: 200px;
  background: url('/img/hero.jpg') no-repeat center bottom;
  background-size: cover;
}
.public-layout .hero .page-header {
  margin-top: 120px;
  border: none;
}
.public-layout .hero .page-header h1 {
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 100;
  color: #dddddd;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}
.public-layout .hero .page-header small {
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 300;
  color: #dddddd;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
}
.public-layout .hero .page-header small a {
  color: #dddddd;
  text-decoration: underline;
}
.public-layout .hero .page-header small a:hover {
  color: #ffffff;
}
.public-layout .hero .btn-primary {
  display: block;
  padding: 12px 30px;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 500;
  color: #dddddd;
  text-transform: uppercase;
  background: none;
  border-color: #dddddd;
  border-radius: 4px;
}
.public-layout .hero .btn-primary:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.public-layout .features {
  margin-top: 60px;
}
.public-layout .features .row {
  margin-bottom: 60px;
}
.public-layout .features .row:last-child {
  padding-bottom: 100px;
  margin-bottom: 0;
  border-bottom: 1px solid #ffffff;
}
.public-layout .features .media .pull-left {
  margin-right: 50px;
}
.public-layout .features .media .media-object {
  width: 120px;
  height: 120px;
  padding: 5px;
  font-size: 110px;
  color: #8e8178;
  text-align: center;
}
.public-layout .features .media .media-body {
  margin-right: 70px;
}
.public-layout .features .media .media-body .media-heading {
  margin-bottom: 15px;
}
.public-layout .features .media .media-body span {
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  color: #bbbbbb;
}
.public-layout .download {
  padding-top: 50px;
}
.public-layout .download .container {
  padding-bottom: 50px;
  border-bottom: 1px solid #ffffff;
}
.public-layout .download .text {
  top: 10px;
  font-size: 15px;
  font-weight: 300;
  color: #bbbbbb;
  text-align: right;
}
.public-layout .download .btn-primary {
  padding: 12px 30px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  background: #8e8178;
  border-color: #8e8178;
  border-radius: 4px;
}
.public-layout .technology h3 {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}
.public-layout .technology h3 small {
  font-size: 24px;
  font-weight: 100;
}
.public-layout .technology .row {
  margin-top: 40px;
  margin-bottom: 40px;
}
.public-layout .technology .thumbnail {
  position: relative;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
.public-layout .account-help {
  position: relative;
  top: 16px;
}
.public-layout .account-help-link {
  margin-right: 15px;
}
.public-layout .account-help-link:last-of-type {
  margin-right: 0;
}
.public-layout .social-signup,
.public-layout .social-login {
  margin-top: 20px;
}
.public-layout .social-signup .row,
.public-layout .social-login .row {
  margin-bottom: 20px;
}
.public-layout .social-signup .btn-provider,
.public-layout .social-login .btn-provider {
  position: relative;
  padding-right: 20px;
  padding-left: 44px;
  overflow: hidden;
  font-size: 11px;
  color: #dddddd;
  background: none;
  border-color: #dddddd;
}
.public-layout .social-signup .btn-provider:hover,
.public-layout .social-login .btn-provider:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.public-layout .social-signup .btn-provider i,
.public-layout .social-login .btn-provider i {
  position: absolute;
  top: 0;
  left: 12px;
  width: 45px;
  padding: 10px 14px;
  font-size: 20px;
}
.public-layout .social-or-text {
  margin: 20px auto;
  font-weight: 300;
  color: #bbbbbb;
  text-align: center;
}
.public-layout .email-signup,
.public-layout .email-login {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.public-layout .email-signup .row,
.public-layout .email-login .row {
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
.public-layout .email-signup .email-group,
.public-layout .email-login .email-group,
.public-layout .email-signup .password-group,
.public-layout .email-login .password-group {
  position: relative;
  top: 5px;
}
.public-layout .email-signup .password-group,
.public-layout .email-login .password-group {
  padding-left: 20px;
  margin-left: 30px;
  border-left: 1px solid #bbbbbb;
}
.public-layout .email-signup .form-control,
.public-layout .email-login .form-control {
  font-weight: 300;
  color: #ffffff;
  background: none;
  border: none;
  box-shadow: none;
  -webkit-transition: all 0s;
          transition: all 0s;
}
.public-layout .email-signup .form-control:-webkit-autofill,
.public-layout .email-login .form-control:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #000 inset;
  -webkit-text-fill-color: #ffffff !important;
}
.public-layout .email-signup .input-email,
.public-layout .email-login .input-email {
  width: 180px;
}
.public-layout .email-signup .validation-error,
.public-layout .email-login .validation-error,
.public-layout .email-signup .validation-success,
.public-layout .email-login .validation-success {
  position: absolute;
  top: 8px;
  right: -20px;
  display: none;
  font-size: 18px;
}
.public-layout .email-signup .validation-error,
.public-layout .email-login .validation-error {
  color: #d9534f;
}
.public-layout .email-signup .validation-success,
.public-layout .email-login .validation-success {
  color: #5cb85c;
}
.public-layout .email-signup .btn-success,
.public-layout .email-login .btn-success {
  padding: 12px 30px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
}
.public-layout .email-signup .alert-success,
.public-layout .email-login .alert-success,
.public-layout .email-signup .alert-danger,
.public-layout .email-login .alert-danger {
  display: none;
  margin-top: 10px;
  text-align: center;
  background: none;
  border: none;
}
.public-layout .primary-navigation {
  background: none;
  border: none;
}
.public-layout .primary-navigation .navbar-brand {
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}
.public-layout .primary-navigation .navbar-nav li {
  margin-right: 25px;
}
.public-layout .primary-navigation .navbar-nav li > a,
.public-layout .primary-navigation .navbar-nav .active > a {
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
}
.public-layout .primary-navigation .navbar-nav .active > a {
  background: none;
}
.public-layout .primary-navigation .navbar-nav .social {
  top: 5px;
  margin-right: 0;
}
.public-layout .primary-navigation .navbar-nav .social > a {
  padding: 10px;
  font-size: 20px;
  text-shadow: none;
}
.sidebar-wrapper {
  position: fixed;
  left: 250px;
  z-index: 1000;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #5b544e;
}
.sidebar-wrapper .sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-wrapper .sidebar-nav li {
  line-height: 44px;
  text-indent: 10px;
  border-left: 2px solid transparent;
}
.sidebar-wrapper .sidebar-nav li a {
  color: #dddddd;
  display: block;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
.sidebar-wrapper .sidebar-nav li a:hover {
  color: #ffffff;
}
.sidebar-wrapper .sidebar-nav li a i {
  margin-right: 14px;
  font-size: 16px;
}
.sidebar-wrapper .sidebar-nav .active {
  background: rgba(0, 0, 0, 0.1);
  border-left: 2px solid #8e8178;
}
.sidebar-wrapper .sidebar-nav .active a {
  color: #ffffff;
}
.sidebar-wrapper .sidebar-nav .title {
  margin-left: 12px;
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.3);
  cursor: default;
}
.sidebar-wrapper .sidebar-nav .separator {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 6px;
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar-wrapper .sidebar-nav > .sidebar-brand {
  margin-bottom: 10px;
  height: 51px;
  line-height: 51px;
  text-indent: 20px;
  background: rgba(0, 0, 0, 0.2);
}
.sidebar-wrapper .sidebar-nav > .sidebar-brand a {
  color: #dddddd;
  font-size: 15px;
}
.sidebar-wrapper .sidebar-nav > .sidebar-brand a:hover {
  color: #ffffff;
  background: none;
}
.sidebar-wrapper .sidebar-nav > .sidebar-brand .brand-standard,
.sidebar-wrapper .sidebar-nav > .sidebar-brand .brand-collapsed {
  margin-left: 1px;
}
.sidebar-wrapper .sidebar-nav > .sidebar-brand .brand-collapsed {
  display: none;
}
.sidebar-wrapper-collapsed {
  width: 60px;
}
.sidebar-wrapper-collapsed .sidebar-nav > .sidebar-brand .brand-standard {
  display: none;
}
.sidebar-wrapper-collapsed .sidebar-nav > .sidebar-brand .brand-collapsed {
  display: block;
}
.sidebar-wrapper-collapsed .sidebar-nav li a span {
  display: none;
}
.sidebar-wrapper-collapsed .sidebar-nav li a:hover i,
.sidebar-wrapper-collapsed .sidebar-nav .active a:hover i {
  color: #ffffff;
}
.sidebar-wrapper-collapsed .sidebar-nav li a i,
.sidebar-wrapper-collapsed .sidebar-nav .active a i {
  color: #dddddd;
  margin-right: 14px;
  font-size: 16px;
}
.sidebar-wrapper-collapsed .sidebar-nav .title {
  display: none;
}
.sidebar-wrapper-collapsed .sidebar-nav .active a i {
  color: #ffffff;
}
.sidebar-tooltip.right {
  margin-left: -190px;
}
.sidebar-tooltip.right .tooltip-arrow {
  border-right-color: #332a25;
}
.sidebar-tooltip.right .tooltip-inner {
  font-weight: 300;
  padding: 5px 8px;
  border-radius: 0;
  background: #332a25;
}
.navbar-nav > li > .dropdown-menu {
  border-radius: 0;
}
.wrapper {
  padding-left: 250px;
}
.wrapper-sidenav-collapsed {
  padding-left: 60px;
}
.signup,
.login {
  padding-bottom: 200px;
  background: #000;
}
.signup .hero,
.login .hero {
  height: 628px;
}
