html,
body {
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}
::selection {
  color: #ffffff;
  background: #332a25;
}
.sans {
  font-family: sans-serif;
}
.serif {
  font-family: serif;
}
.public-layout .hero {
  padding-top: 10px;
  padding-bottom: 200px;
  background: url('/img/hero.jpg') no-repeat center bottom;
  background-size: cover;
}
.public-layout .hero .primary-navigation {
  background: none;
  border: none;
}
.public-layout .hero .primary-navigation .navbar-brand {
  font-weight: 600;
  color: #ffffff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}
.public-layout .hero .primary-navigation .navbar-nav li {
  margin-right: 25px;
}
.public-layout .hero .primary-navigation .navbar-nav li > a,
.public-layout .hero .primary-navigation .navbar-nav .active > a {
  font-size: 13px;
  font-weight: 300;
  color: #ffffff;
}
.public-layout .hero .primary-navigation .navbar-nav .active > a {
  background: none;
}
.public-layout .hero .primary-navigation .navbar-nav .social {
  top: 5px;
  margin-right: 0;
}
.public-layout .hero .primary-navigation .navbar-nav .social > a {
  padding: 10px;
  font-size: 20px;
  text-shadow: none;
}
.public-layout .hero .page-header {
  margin-top: 120px;
  border: none;
}
.public-layout .hero .page-header h1 {
  margin-bottom: 35px;
  font-size: 20px;
  font-weight: 100;
  color: #dddddd;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}
.public-layout .hero .page-header small {
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 300;
  color: #dddddd;
  text-align: center;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
}
.public-layout .hero .page-header small a {
  color: #dddddd;
  text-decoration: underline;
}
.public-layout .hero .page-header small a:hover {
  color: #ffffff;
}
.public-layout .hero .btn-primary {
  display: block;
  padding: 12px 30px;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 500;
  color: #dddddd;
  text-transform: uppercase;
  background: none;
  border-color: #dddddd;
  border-radius: 4px;
}
.public-layout .hero .btn-primary:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.public-layout .features {
  margin-top: 60px;
}
.public-layout .features .row {
  margin-bottom: 60px;
}
.public-layout .features .row:last-child {
  padding-bottom: 100px;
  margin-bottom: 0;
  border-bottom: 1px solid #ffffff;
}
.public-layout .features .media .pull-left {
  margin-right: 50px;
}
.public-layout .features .media .media-object {
  width: 120px;
  height: 120px;
  padding: 5px;
  font-size: 110px;
  color: #8e8178;
  text-align: center;
}
.public-layout .features .media .media-body {
  margin-right: 70px;
}
.public-layout .features .media .media-body .media-heading {
  margin-bottom: 15px;
}
.public-layout .features .media .media-body span {
  font-size: 13px;
  font-weight: 300;
  line-height: 22px;
  color: #bbbbbb;
}
.public-layout .download {
  padding-top: 50px;
}
.public-layout .download .container {
  padding-bottom: 50px;
  border-bottom: 1px solid #ffffff;
}
.public-layout .download .text {
  top: 10px;
  font-size: 15px;
  font-weight: 300;
  color: #bbbbbb;
  text-align: right;
}
.public-layout .download .btn-primary {
  padding: 12px 30px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  background: #8e8178;
  border-color: #8e8178;
  border-radius: 4px;
}
.public-layout .technology h3 {
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
}
.public-layout .technology h3 small {
  font-size: 24px;
  font-weight: 100;
}
.public-layout .technology .row {
  margin-top: 40px;
  margin-bottom: 40px;
}
.public-layout .technology .thumbnail {
  position: relative;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
.public-layout .footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  text-transform: uppercase;
  background: #000000;
  border: none;
  border-radius: 0;
}
.public-layout .footer .navbar-nav li > a {
  font-size: 11px;
  font-weight: 600;
}
.public-layout .footer .navbar-nav li > a:hover {
  color: #bbbbbb;
}
.public-layout .footer .navbar-nav .social {
  top: 5px;
  margin-right: 0;
}
.public-layout .footer .navbar-nav .social > a {
  padding: 10px;
  font-size: 20px;
  text-shadow: none;
}
.public-layout .footer .navbar-text {
  position: relative;
  top: 18px;
  width: 100%;
  margin: 0;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
}
.public-layout .footer .navbar-text a {
  color: #bbbbbb;
}
.public-layout .footer .navbar-text a:hover {
  color: #ffffff;
  text-decoration: none;
}
.public-layout .footer .navbar-brand {
  font-weight: 600;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  text-transform: uppercase;
}
.public-layout .footer .navbar-brand:hover {
  color: #bbbbbb;
}
.signup,
.login {
  background: #000;
}
.signup .hero,
.login .hero {
  height: 628px;
}
.signup .social-signup,
.login .social-signup,
.signup .social-login,
.login .social-login {
  margin-top: 20px;
}
.signup .social-signup .row,
.login .social-signup .row,
.signup .social-login .row,
.login .social-login .row {
  margin-bottom: 20px;
}
.signup .social-signup .btn-facebook,
.login .social-signup .btn-facebook,
.signup .social-login .btn-facebook,
.login .social-login .btn-facebook,
.signup .social-signup .btn-google,
.login .social-signup .btn-google,
.signup .social-login .btn-google,
.login .social-login .btn-google,
.signup .social-signup .btn-twitter,
.login .social-signup .btn-twitter,
.signup .social-login .btn-twitter,
.login .social-login .btn-twitter,
.signup .social-signup .btn-linkedin,
.login .social-signup .btn-linkedin,
.signup .social-login .btn-linkedin,
.login .social-login .btn-linkedin,
.signup .social-signup .btn-github,
.login .social-signup .btn-github,
.signup .social-login .btn-github,
.login .social-login .btn-github,
.signup .social-signup .btn-instagram,
.login .social-signup .btn-instagram,
.signup .social-login .btn-instagram,
.login .social-login .btn-instagram {
  position: relative;
  padding-right: 20px;
  padding-left: 44px;
  overflow: hidden;
  font-size: 12px;
  color: #dddddd;
  background: none;
  border-color: #dddddd;
}
.signup .social-signup .btn-facebook:hover,
.login .social-signup .btn-facebook:hover,
.signup .social-login .btn-facebook:hover,
.login .social-login .btn-facebook:hover,
.signup .social-signup .btn-google:hover,
.login .social-signup .btn-google:hover,
.signup .social-login .btn-google:hover,
.login .social-login .btn-google:hover,
.signup .social-signup .btn-twitter:hover,
.login .social-signup .btn-twitter:hover,
.signup .social-login .btn-twitter:hover,
.login .social-login .btn-twitter:hover,
.signup .social-signup .btn-linkedin:hover,
.login .social-signup .btn-linkedin:hover,
.signup .social-login .btn-linkedin:hover,
.login .social-login .btn-linkedin:hover,
.signup .social-signup .btn-github:hover,
.login .social-signup .btn-github:hover,
.signup .social-login .btn-github:hover,
.login .social-login .btn-github:hover,
.signup .social-signup .btn-instagram:hover,
.login .social-signup .btn-instagram:hover,
.signup .social-login .btn-instagram:hover,
.login .social-login .btn-instagram:hover {
  color: #ffffff;
  border-color: #ffffff;
}
.signup .social-signup .btn-facebook i,
.login .social-signup .btn-facebook i,
.signup .social-login .btn-facebook i,
.login .social-login .btn-facebook i,
.signup .social-signup .btn-google i,
.login .social-signup .btn-google i,
.signup .social-login .btn-google i,
.login .social-login .btn-google i,
.signup .social-signup .btn-twitter i,
.login .social-signup .btn-twitter i,
.signup .social-login .btn-twitter i,
.login .social-login .btn-twitter i,
.signup .social-signup .btn-linkedin i,
.login .social-signup .btn-linkedin i,
.signup .social-login .btn-linkedin i,
.login .social-login .btn-linkedin i,
.signup .social-signup .btn-github i,
.login .social-signup .btn-github i,
.signup .social-login .btn-github i,
.login .social-login .btn-github i,
.signup .social-signup .btn-instagram i,
.login .social-signup .btn-instagram i,
.signup .social-login .btn-instagram i,
.login .social-login .btn-instagram i {
  position: absolute;
  top: 0;
  left: 12px;
  width: 45px;
  padding: 10px 14px;
  font-size: 20px;
}
.signup .social-or-text,
.login .social-or-text {
  margin: 20px auto;
  font-weight: 300;
  color: #bbbbbb;
  text-align: center;
}
.signup .email-signup,
.login .email-signup,
.signup .email-login,
.login .email-login {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
.signup .email-signup .row,
.login .email-signup .row,
.signup .email-login .row,
.login .email-login .row {
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 4px;
}
.signup .email-signup .row .email-group,
.login .email-signup .row .email-group,
.signup .email-login .row .email-group,
.login .email-login .row .email-group,
.signup .email-signup .row .password-group,
.login .email-signup .row .password-group,
.signup .email-login .row .password-group,
.login .email-login .row .password-group {
  position: relative;
  top: 5px;
}
.signup .email-signup .row .password-group,
.login .email-signup .row .password-group,
.signup .email-login .row .password-group,
.login .email-login .row .password-group {
  padding-left: 20px;
  margin-left: 30px;
  border-left: 1px solid #bbbbbb;
}
.signup .email-signup .row .form-control,
.login .email-signup .row .form-control,
.signup .email-login .row .form-control,
.login .email-login .row .form-control {
  font-weight: 300;
  color: #ffffff;
  background: none;
  border: none;
  box-shadow: none;
}
.signup .email-signup .row .input-email,
.login .email-signup .row .input-email,
.signup .email-login .row .input-email,
.login .email-login .row .input-email {
  width: 180px;
}
.signup .email-signup .row .validation-error,
.login .email-signup .row .validation-error,
.signup .email-login .row .validation-error,
.login .email-login .row .validation-error,
.signup .email-signup .row .validation-success,
.login .email-signup .row .validation-success,
.signup .email-login .row .validation-success,
.login .email-login .row .validation-success {
  position: absolute;
  top: 8px;
  right: -20px;
  font-size: 18px;
  visibility: hidden;
}
.signup .email-signup .row .validation-error,
.login .email-signup .row .validation-error,
.signup .email-login .row .validation-error,
.login .email-login .row .validation-error {
  color: #d9534f;
}
.signup .email-signup .row .validation-success,
.login .email-signup .row .validation-success,
.signup .email-login .row .validation-success,
.login .email-login .row .validation-success {
  color: #5cb85c;
}
.signup .email-signup .row .validation-error-visible,
.login .email-signup .row .validation-error-visible,
.signup .email-login .row .validation-error-visible,
.login .email-login .row .validation-error-visible,
.signup .email-signup .row .validation-success-visible,
.login .email-signup .row .validation-success-visible,
.signup .email-login .row .validation-success-visible,
.login .email-login .row .validation-success-visible {
  visibility: visible;
}
.signup .email-signup .row .btn-success,
.login .email-signup .row .btn-success,
.signup .email-login .row .btn-success,
.login .email-login .row .btn-success {
  padding: 12px 30px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 4px;
}
