.sidebar-wrapper {
    position: fixed;
    left: 250px;
    z-index: 1000;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: @mediumBrown;

    .sidebar-nav {
        position: absolute;
        top: 0;
        width: 250px;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            line-height: 44px;
            text-indent: 10px;
            border-left: 2px solid transparent;

            a {
                color: @offWhite;
                display: block;
                font-size: 12px;
                font-weight: 600;
                text-decoration: none;
                text-transform: uppercase;

                &:hover {
                    color: @white;
                }

                i {
                    margin-right: 14px;
                    font-size: 16px;
                }
            }
        }

        .active {
            background: rgba(0, 0, 0, .1);
            border-left: 2px solid @lightBrown;

            a {
                color: @white;
            }
        }

        .title {
            margin-left: 12px;
            font-size: 12px;
            font-weight: 600;
            color: rgba(255, 255, 255, .3);
            cursor: default;
        }

        .separator {
            margin-top: 10px;
            margin-bottom: 10px;
            width: 100%;
            height: 6px;
            background: rgba(0, 0, 0, .1);
            border-top: 1px solid rgba(0, 0, 0, .1);
            border-bottom: 1px solid rgba(255, 255, 255, .1);
        }
    }

    .sidebar-nav > .sidebar-brand {
        margin-bottom: 10px;
        height: 51px;
        line-height: 51px;
        text-indent: 20px;
        background: rgba(0, 0, 0, .2);

        a {
            color: @offWhite;
            font-size: 15px;
        }

        a:hover {
            color: @white;
            background: none;
        }

        .brand-standard,
        .brand-collapsed {
            margin-left: 1px;
        }

        .brand-collapsed {
            display: none;
        }
    }
}

.sidebar-wrapper-collapsed {
    width: 60px;

    .sidebar-nav > .sidebar-brand {
        .brand-standard {
            display: none;
        }

        .brand-collapsed {
            display: block;
        }
    }

    .sidebar-nav {
        li a span {
            display: none;
        }

        li,
        .active {
            a {
                &:hover {
                    i {
                        color: @white;
                    }
                }

                i {
                    color: @offWhite;
                    margin-right: 14px;
                    font-size: 16px;
                }
            }
        }

        .title {
            display: none;
        }

        .active a i {
            color: @white;
        }
    }
}

.sidebar-tooltip.right {
    margin-left: -190px;

    .tooltip-arrow {
        border-right-color: @darkBrown;
    }

    .tooltip-inner {
        font-weight: 300;
        padding: 5px 8px;
        border-radius: 0;
        background: @darkBrown;
    }
}