.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus, {
    color: @darkGrey;
    text-shadow: none;
    background-color: @white;
    border: 1px solid @white;
}