.app-layout {
    padding-top: 50px;

    .main {
        padding: 20px;
    }

    @media (min-width: 768px) {
        .main {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    
    .main .page-header {
        margin-top: 0;
    }
}