.public-layout {
    .hero {
        padding-top: 10px;
        padding-bottom: 200px;
        background: url('/img/hero.jpg') no-repeat center bottom;
        background-size: cover;

        .primary-navigation {
            background: none;
            border: none;

            .navbar-brand {
                font-weight: 600;
                color: @white;
                text-shadow: 0 0 2px rgba(0, 0, 0, .75);
                text-transform: uppercase;
            }

            .navbar-nav {
                li {
                    margin-right: 25px;
                }

                li > a,
                .active > a {
                    font-size: 13px;
                    font-weight: 300;
                    color: @white;
                }

                .active > a {
                    background: none;
                }

                .social {
                    top: 5px;
                    margin-right: 0;
                }

                .social > a {
                    padding: 10px;
                    font-size: 20px;
                    text-shadow: none;
                }
            }
        }

        .page-header {
            margin-top: 120px;
            border: none;

            h1 {
                margin-bottom: 35px;
                font-size: 20px;
                font-weight: 100;
                color: @offWhite;
                text-align: center;
                text-shadow: 0 0 1px rgba(0, 0, 0, .75);
                text-transform: uppercase;
            }

            small {
                margin-bottom: 15px;
                font-size: 13px;
                font-weight: 300;
                color: @offWhite;
                text-align: center;
                text-shadow: 0 0 1px rgba(0, 0, 0, .75);

                a {
                    color: @offWhite;
                    text-decoration: underline;

                    &:hover {
                        color: @white;
                    }
                }
            }
        }

        .btn-primary {
            display: block;
            padding: 12px 30px;
            margin: 0 auto;
            font-size: 13px;
            font-weight: 500;
            color: @offWhite;
            text-transform: uppercase;
            background: none;
            border-color: @offWhite;
            border-radius: 4px;

            &:hover {
                color: @white;
                border-color: @white;
            }
        }
    }

    .features {
        margin-top: 60px;

        .row {
            margin-bottom: 60px;
        }

        .row:last-child {
            padding-bottom: 100px;
            margin-bottom: 0;
            border-bottom: 1px solid @white;
        }

        .media {
            .pull-left {
                margin-right: 50px;
            }

            .media-object {
                width: 120px;
                height: 120px;
                padding: 5px;
                font-size: 110px;
                color: @lightBrown;
                text-align: center;
            }

            .media-body {
                margin-right: 70px;

                .media-heading {
                    margin-bottom: 15px;
                }

                span {
                    font-size: 13px;
                    font-weight: 300;
                    line-height: 22px;
                    color: @mediumGray;
                }
            }
        }
    }

    .download {
        padding-top: 50px;

        .container {
            padding-bottom: 50px;
            border-bottom: 1px solid @white;
        }

        .text {
            top: 10px;
            font-size: 15px;
            font-weight: 300;
            color: @mediumGray;
            text-align: right;
        }

        .btn-primary {
            padding: 12px 30px;
            font-size: 13px;
            font-weight: 500;
            text-transform: uppercase;
            background: @lightBrown;
            border-color: @lightBrown;
            border-radius: 4px;
        }
    }

    .technology {
        h3 {
            margin-top: 50px;
            text-align: center;
            text-transform: uppercase;

            small {
                font-size: 24px;
                font-weight: 100;
            }
        }

        .row {
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .thumbnail {
            position: relative;
            margin-bottom: 0;
            border: none;
            border-radius: 0;
        }
    }

    .footer {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 0;
        text-transform: uppercase;
        background: @black;
        border: none;
        border-radius: 0;

        .navbar-nav {
            li > a {
                font-size: 11px;
                font-weight: 600;

                &:hover {
                    color: @mediumGray;
                }
            }

            .social {
                top: 5px;
                margin-right: 0;
            }

            .social > a {
                padding: 10px;
                font-size: 20px;
                text-shadow: none;
            }
        }

        .navbar-text {
            position: relative;
            top: 18px;
            width: 100%;
            margin: 0;
            font-size: 11px;
            font-weight: 600;
            text-align: center;

            a {
                color: @mediumGray;

                &:hover {
                    color: @white;
                    text-decoration: none;
                }
            }
        }

        .navbar-brand {
            font-weight: 600;
            text-shadow: 0 0 2px rgba(0, 0, 0, .9);
            text-transform: uppercase;

            &:hover {
                color: @mediumGray;
            }
        }
    }
}

.signup,
.login {
    background: #000;

    .hero {
        height: 628px;
    }

    .social-signup,
    .social-login {
        margin-top: 20px;

        .row {
            margin-bottom: 20px;
        }

        .btn-facebook,
        .btn-google,
        .btn-twitter,
        .btn-linkedin,
        .btn-github,
        .btn-instagram {
            position: relative;
            padding-right: 20px;
            padding-left: 44px;
            overflow: hidden;
            font-size: 12px;
            color: @offWhite;
            background: none;
            border-color: @offWhite;

            &:hover {
                color: @white;
                border-color: @white;
            }

            i {
                position: absolute;
                top: 0;
                left: 12px;
                width: 45px;
                padding: 10px 14px;
                font-size: 20px;
            }
        }
    }

    .social-or-text {
        margin: 20px auto;
        font-weight: 300;
        color: @mediumGray;
        text-align: center;
    }

    .email-signup,
    .email-login {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;

        .row {
            padding: 20px;
            border: 1px solid @white;
            border-radius: 4px;

            .email-group,
            .password-group {
                position: relative;
                top: 5px;
            }

            .password-group {
                padding-left: 20px;
                margin-left: 30px;
                border-left: 1px solid @mediumGray;
            }

            .form-control {
                font-weight: 300;
                color: @white;
                background: none;
                border: none;
                box-shadow: none;
            }

            .input-email {
                width: 180px;
            }

            .validation-error,
            .validation-success {
                position: absolute;
                top: 8px;
                right: -20px;
                font-size: 18px;
                visibility: hidden;
            }

            .validation-error {
                color: @red;
            }

            .validation-success {
                color: @green;
            }

            .validation-error-visible,
            .validation-success-visible {
                visibility: visible;
            }

            .btn-success {
                padding: 12px 30px;
                font-size: 13px;
                font-weight: 500;
                text-transform: uppercase;
                border-radius: 4px;
            }
        }
    }
}